[submodule ".vim/plugged/gruvbox"]
	path = .vim/plugged/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/plugged/nerdtree"]
	path = .vim/plugged/nerdtree
	url = https://github.com/preservim/nerdtree
